@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
body{
    position:relative;
    text-align:center;
    font-family:roboto;
    padding-top:200px;
    background-color:#ffffff;
    font-size:20px;
}
h1{
    text-transform:uppercase;
    color:#004e89;
}
#loopis{
    background-color:#004e89;
    color:#ffffff;
}
 h2{
    text-transform:uppercase;
    color:#2c6794;
}
#primeiro-paragrafo{
    color:#505050;
    transform: translateX(-102px);
    font-weight:bold;
}
#segundo-paragrafo{
    color:#505050;
    transform: translateX(-98px);
    font-weight:bold;
}
.input{
    border: 3px solid #bdbdbd;
    height:25px;
    width:240px;
    border-radius: 0.3em;
}
.button{
    position: absolute;
    color:#ffffff;
    border-color:#aaaaaa;
    background-color:#2c6794;
    transform: translateX(-70px);
    width: 140px;
    height: 40px;
    left: 50%;
    top: 110%;
    border-radius: 0.3em;
    overflow: hidden;
    transition: 1s all ease;
}
.button::before{
    background:#ff6b35;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.2s ease;
}
.button::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.button:hover::before{
    height: 380%;
}
.line-top{
    position:fixed;
    top:0;
    left:0;
    background-color:#2c6794;
    height:20px;
    width:100%;
}
.line-left{
    position:fixed;
    top:0;
    left:0;
    background-color:#2c6794;
    height:100%;
    width:20px;
}
.line-right{
    position:fixed;
    top:0;
    right:0;
    background-color:#004e89;
    height:100%;
    width:20px;
}
.line-bottom{
    position:fixed;
    bottom:0;
    left:0;
    background-color:#004e89;
    height:20px;
    width:100%;
}
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal{
    background-color: white;
    width: 600px;
    height: 300px;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal .titulo{
    height: 69px;
    font-weight: bold;
    line-height: 42px;
    font-size: 1em;
    position: relative;
    top: 20px;
    text-transform: uppercase;
    color: #004e89;
} 
.obs{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 45px;
}
.btn{
    position: relative;
    top: 50px;
}
.btn button{
    width: 160px;
    height: 60px;
    margin: 16px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    background: #004e89;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.btn button:hover{
    background: #ff6b35;
}